.about-company-wrapper{
	max-width: 1440px;
	margin: 0 auto;
}
.about-title{
    padding-top: 160px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: #1e1e1e;
}
.about-text{
    text-align: center;
    max-width: 790px;
    width: 100%;
    position: relative;
    left: 320px;
    line-height: 28px;
    font-size: 15px;
    padding-bottom: 100px;
    color: #1e1e1e;
}
.about-image{
    width: 1600px;
    height: 500px;
    background-image: url(../img/fireplace.jpg);
    background-attachment: fixed;
    background-size: 1600px 750px;
    background-position-y: -10px;
}
