.our-services-wrapper{
	max-width: 1420px;
	margin: 0 auto;
}
.our-services-title{
    text-align: center;
    font-weight: 700;
    padding-top: 150px;
    color: #1e1e1e;
}
.our-services-sub{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}
.our-services-name{
    text-align: center;
    font-weight: 700;
    padding-top: 50px;
    color: #1e1e1e;
}
.our-services-images{
    display: flex;
}
.our-services-text{
    display: flex; 
}
.our-services-block-text{
    margin-left: 30px;
    margin-bottom: 80px;
}
.our-services-subtitle{
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    line-height: 20px;
    padding-bottom: 80px;
}
.our-image{
    width: 450px;
    height: 350px;
}
.our-services-block{
    margin-left: 30px;
}