.why{
	margin-top: 80px;
	padding-bottom: 100px;
}
.why-wrapper{
	max-width: 1420px;
	margin: 0 auto;
	text-align: center;
}
.why-columns{
    margin-top: 60px;
	display: flex;
	justify-content: space-between;
}
.why-title{
	font-weight: 700;
	font-size: 22px;
	line-height: 35px;
	color: #985d2a;
}
.why-subtitle{
	margin-top: 45px;
	line-height: 20px;
}